/****************************** TYPOGRAPHY **************************************/
h1{
	color: #fff;
	font-size: 48px;
	text-align: center;
}
h2{
	font-size: 32px;
	padding: 10px;
}

/******************************* MAIN PAGE **************************************/
.topnav{
	display: flex;
	flex-flow: row nowrap; /* flex-direction and flex-wrap combined respectively*/
	justify-content: space-around;
	background-color: #333;
}
.topnav li{
	padding: 10px;
}
.topnav li a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}

/* Hero banner half screen splash page */
.hero-banner{
	height: 50vh;
	background-color: #333;
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center; /* vertical align */
	justify-content: center; /* horizontal align */
}
.homepage{
	background-image: url("../img/flower.jpg");
}

.storyrow{
	display: flex;
	flex-flow: row-reverse wrap;
}

.mystory, .culture-shock, .connect{
	height: 50vh;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
.mystory, .culture-shock{
	background-color: #333;
	color: #fff;
}
.mystory p, .culture-shock p{
	text-align: center;
}
.connect{
	background-color: #324999;
	color: #fff;
}
.storyimg{
	background-image: url("../img/taho.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	height: 50vh;
	display: none;
}

.shockrow{
	display: flex;
	flex-flow: row wrap;
}
.shockimg{
	background-image: url("../img/purplehalohalo.jpg");
	background-size: no-repeat;
	background-position: center;
	background-size: cover;
	height: 50vh;
	display: none;
}

.social-icons{
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

footer{
	width: 100%;
	height: 50px;
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

/********************************** MY STORY *********************************/
.storypage{
	background-image: url("../img/halohalo.jpg");
}

/******************************* CULTURE SHOCK *******************************/

.shockpage{
	background-image: url("../img/ashedwater.jpg");
}

/************************************** GRID *********************************/

[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px){

	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.storyimg, .shockimg{
		display: block;
	}
}